___
# Ciência dos Dados - PROJETO 1

## Gabriel Miras e Mariana Abrantes
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Filtros da base de dados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Mariana Abrantes\Documents\ciencia_dados\DP- P1

In [3]:
#Se usar o arquivo descompactado
dados = pd.read_csv('PES2015.csv',sep=',')
dados
#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

,Unnamed: 0,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
0,0,2015,11,15,1,1,2,27,2,1992,...,1.0,8.000000e+02,4.0,5,1.0,2.0,2.0,1.0,8.000000e+02,20161117
1,1,2015,11,15,3,1,4,4,5,1992,...,1.0,1.150000e+03,4.0,5,1.0,2.0,2.0,1.0,1.150000e+03,20161117
2,2,2015,11,15,4,1,4,4,1,1980,...,6.0,7.930000e+02,4.0,6,1.0,2.0,2.0,1.0,7.930000e+02,20161117
3,3,2015,11,15,4,2,2,5,6,1981,...,6.0,7.930000e+02,4.0,7,1.0,2.0,2.0,1.0,7.930000e+02,20161117
4,4,2015,11,15,4,3,4,8,4,2004,...,6.0,7.930000e+02,4.0,2,2.0,NaN,NaN,2.0,7.930000e+02,20161117
5,5,2015,11,15,4,4,4,1,12,2007,...,6.0,7.930000e+02,4.0,2,2.0,NaN,NaN,2.0,7.930000e+02,20161117
6,6,2015,11,15,4,5,4,6,12,2010,...,6.0,7.930000e+02,4.0,1,NaN,NaN,NaN,NaN,7.930000e+02,20161117
7,7,2015,11,15,4,6,4,8,9,1997,...,6.0,7.930000e+02,4.0,5,1.0,2.0,2.0,1.0,7.930000e+02,20161117
8,8,2015,11,15,5,1,2,3,1,1969,...,2.0,2.900000e+03,6.0,2,1.0,2.0,2.0,1.0,2.900000e+03,20161117
9,9,2015,11,15,5,2,4,1,1,1934,...,2.0,2.900000e+03,6.0,2,2.0,NaN,NaN,2.0,2.900000e+03,20161117
10,10,2015,11,15,6,1,4,3,6,1944,...,1.0,1.990000e+03,5.0,2,2.0,NaN,NaN,2.0,1.990000e+03,20161117
11,11,2015,11,15,7,1,4,8,12,1967,...,2.0,3.500000e+02,2.0,3,1.0,2.0,2.0,1.0,3.500000e+02,20161117
12,12,2015,11,15,7,2,2,28,3,1991,...,2.0,3.500000e+02,2.0,5,2.0,NaN,2.0,1.0,3.500000e+02,20161117
13,13,2015,11,15,8,1,4,23,3,1987,...,3.0,1.333000e+03,4.0,5,2.0,NaN,NaN,2.0,1.333000e+03,20161117
14,14,2015,11,15,8,2,2,25,6,1965,...,3.0,1.333000e+03,4.0,3,1.0,1.0,1.0,1.0,1.333000e+03,20161117
15,15,2015,11,15,8,3,2,17,3,2014,...,3.0,1.333000e+03,4.0,1,NaN,NaN,NaN,NaN,1.333000e+03,20161117
16,16,2015,11,15,9,1,4,22,6,1981,...,5.0,8.180000e+02,4.0,5,1.0,2.0,2.0,1.0,8.180000e+02,20161117
17,17,2015,11,15,9,2,2,25,9,1980,...,5.0,8.180000e+02,4.0,5,1.0,2.0,2.0,1.0,8.180000e+02,20161117
18,18,2015,11,15,9,3,2,27,6,1999,...,5.0,8.180000e+02,4.0,3,1.0,2.0,2.0,1.0,8.180000e+02,20161117
19,19,2015,11,15,9,4,4,27,12,2003,...,5.0,8.180000e+02,4.0,2,2.0,NaN,NaN,2.0,8.180000e+02,20161117
20,20,2015,11,15,9,5,4,23,3,2012,...,5.0,8.180000e+02,4.0,1,NaN,NaN,NaN,NaN,8.180000e+02,20161117
21,21,2015,11,15,11,1,2,1,8,1958,...,3.0,1.716000e+03,5.0,5,1.0,2.0,2.0,1.0,1.716000e+03,20161117
22,22,2015,11,15,11,2,4,17,9,1964,...,3.0,1.716000e+03,5.0,5,1.0,2.0,2.0,1.0,1.716000e+03,20161117
23,23,2015,11,15,11,3,2,1,3,1999,...,3.0,1.716000e+03,5.0,4,2.0,NaN,NaN,2.0,1.716000e+03,20161117
24,24,2015,11,15,12,1,4,17,1,1955,...,1.0,2.500000e+03,6.0,5,1.0,2.0,2.0,1.0,2.500000e+03,20161117
25,25,2015,11,15,14,1,4,14,12,1964,...,2.0,1.400000e+03,4.0,6,1.0,2.0,2.0,1.0,1.400000e+03,20161117
26,26,2015,11,15,14,2,4,27,4,1985,...,2.0,1.400000e+03,4.0,7,1.0,2.0,2.0,1.0,1.400000e+03,20161117
27,27,2015,11,15,16,1,2,4,3,1989,...,3.0,6.660000e+02,3.0,5,1.0,2.0,2.0,1.0,6.660000e+02,20161117
28,28,2015,11,15,16,2,4,12,5,1995,...,3.0,6.660000e+02,3.0,4,1.0,2.0,2.0,1.0,6.660000e+02,20161117
29,29,2015,11,15,16,3,4,27,4,2014,...,3.0,6.660000e+02,3.0,1,NaN,NaN,NaN,NaN,6.660000e+02,20161117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356874,356874,2015,53,2148,9,4,2,22,1,2000,...,4.0,1.000000e+12,99.0,2,1.0,2.0,2.0,1.0,1.000000e+12,20161117
356875,356875,2015,53,2148,10,1,2,14,8,1961,...,6.0,2.810000e+02,2.0,1,2.0,NaN,2.0,1.0,2.810000e+02,20161117
356876,356876,2015,53,2148,10,2,4,10,12,1967,...,6.0,2.810000e+02,2.0,1,1.0,2.0,2.0,1.0,2.810000e+02,20161117
356877,356877,2015,53,2148,10,3,4,25,4,1991,...,6.0,2.810000e+02,2.0,5,2.0,NaN,NaN,2.0,2.810000e+02,20161117
356878,356878,2015,53,2148,10,4,2,3,4,1993,...,6.0,2.810000e+02,2.0,4,2.0,NaN,NaN,2.0,2.810000e+02,20161117
356879,356879,2015,53,2148,10,5,2,5,2,1995,...,6.0,2.810000e+02,2.0,2,2.0,NaN,2.0,1.0,2.810000e+02,20161117
356880,356880,2015,53,2148,10,6,4,6,7,1987,...,6.0,2.810000e+02,2.0,5,1.0,2.0,2.0,1.0,2.810000e+02,20161117
356881,356881,2015,53,2148,11,1,2,15,12,1984,...,4.0,7.750000e+02,3.0,2,1.0,2.0,2.0,1.0,7.750000e+02,20161117
356882,356882,2015,53,2148,11,2,4,29,12,1983,...,4.0,7.750000e+02,3.0,2,2.0,NaN,NaN,2.0,7.750000e+02,20161117
356883,356883,2015,53,2148,11,3,2,31,8,2006,...,4.0,7.750000e+02,3.0,2,2.0,NaN,NaN,2.0,7.750000e+02,20161117
356884,356884,2015,53,2148,11,4,4,1,4,2011,...,4.0,7.750000e+02,3.0,1,NaN,NaN,NaN,NaN,7.750000e+02,20161117
356885,356885,2015,53,2148,13,1,2,23,6,1983,...,4.0,6.750000e+02,3.0,5,1.0,2.0,2.0,1.0,6.750000e+02,20161117
356886,356886,2015,53,2148,13,2,4,16,11,1984,...,4.0,6.750000e+02,3.0,2,1.0,2.0,2.0,1.0,6.750000e+02,20161117
356887,356887,2015,53,2148,13,3,4,2,10,2010,...,4.0,6.750000e+02,3.0,1,NaN,NaN,NaN,NaN,6.750000e+02,20161117
356888,356888,2015,53,2148,13,4,2,3,11,2013,...,4.0,6.750000e+02,3.0,1,NaN,NaN,NaN,NaN,6.750000e+02,20161117
356889,356889,2015,53,2148,14,1,4,20,12,1980,...,5.0,1.000000e+02,1.0,2,2.0,NaN,NaN,2.0,1.000000e+02,20161117
356890,356890,2015,53,2148,14,2,4,12,3,2006,...,5.0,1.000000e+02,1.0,2,2.0,NaN,NaN,2.0,1.000000e+02,20161117
356891,356891,2015,53,2148,14,3,2,26,2,2009,...,5.0,1.000000e+02,1.0,1,2.0,NaN,NaN,2.0,1.000000e+02,20161117
356892,356892,2015,53,2148,14,4,2,11,9,2010,...,5.0,1.000000e+02,1.0,1,2.0,NaN,NaN,2.0,1.000000e+02,20161117
356893,356893,2015,53,2148,14,5,2,10,4,2013,...,5.0,1.000000e+02,1.0,1,NaN,NaN,NaN,NaN,1.000000e+02,20161117
356894,356894,2015,53,2148,15,1,4,15,2,1958,...,3.0,7.960000e+02,4.0,1,2.0,NaN,NaN,2.0,7.960000e+02,20161117
356895,356895,2015,53,2148,15,2,4,16,5,1979,...,3.0,7.960000e+02,4.0,7,1.0,2.0,2.0,1.0,7.960000e+02,20161117
356896,356896,2015,53,2148,15,3,4,8,4,1997,...,3.0,7.960000e+02,4.0,5,1.0,2.0,2.0,1.0,7.960000e+02,20161117
356897,356897,2015,53,2148,16,1,2,13,10,1957,...,2.0,7.500000e+02,3.0,2,1.0,2.0,2.0,1.0,7.500000e+02,20161117
356898,356898,2015,53,2148,16,2,4,16,10,1981,...,2.0,7.500000e+02,3.0,7,2.0,NaN,2.0,1.0,7.500000e+02,20161117
356899,356899,2015,53,2148,17,1,2,21,12,1976,...,5.0,2.590000e+02,2.0,2,1.0,2.0,2.0,1.0,2.590000e+02,20161117
356900,356900,2015,53,2148,17,2,4,31,7,1976,...,5.0,2.590000e+02,2.0,2,2.0,NaN,NaN,2.0,2.590000e+02,20161117
356901,356901,2015,53,2148,17,3,4,9,11,1997,...,5.0,2.590000e+02,2.0,4,1.0,2.0,2.0,1.0,2.590000e+02,20161117
356902,356902,2015,53,2148,17,4,4,18,6,2000,...,5.0,2.590000e+02,2.0,3,2.0,NaN,NaN,2.0,2.590000e+02,20161117
356903,356903,2015,53,2148,17,5,4,14,6,2008,...,5.0,2.590000e+02,2.0,1,2.0,NaN,NaN,2.0,2.590000e+02,20161117

In [19]:
_dados = dados[['V0101', 'V0302','V8005', 'V0402', 'V0601', 'V9042', 'V9531', 'V9054',
                'V9060','V9077', 'V4743', 'V4745']]

A = _dados.rename(index = str, columns = {'V0101': "ESTADO"})
B = A.rename(index = str, columns = {'V0302': "SEXO"})
C = B.rename(index = str, columns = {'V8005': "IDADE"})
D = C.rename(index = str, columns = {'V0402': "CONDICAO"})
E = D.rename(index = str, columns = {'V0601': "ALFABETIZACAO"})
F = E.rename(index = str, columns = {'V9042': "CARTEIRA"})
G = F.rename(index = str, columns = {'V9531': "PAGAMENTO"})
H = G.rename(index = str, columns = {'V9054': "ESTABELECIMENTO"})
I = H.rename(index = str, columns = {'V9060': "T_PREVIDENCIA"})
J = I.rename(index = str, columns = {'V9077': "TRABALHO"})
M = J.rename(index = str, columns = {'V4743': "RENDIMENTO"})
N = M.rename(index = str, columns = {'V4745': "ESTUDO"})

N.head()

,ESTADO,SEXO,IDADE,CONDICAO,ALFABETIZACAO,CARTEIRA,PAGAMENTO,ESTABELECIMENTO,T_PREVIDENCIA,TRABALHO,RENDIMENTO,ESTUDO
0,2015,2,23,1,1,4.0,1.0,1.0,NaN,NaN,4.0,5
1,2015,4,23,1,1,2.0,1.0,1.0,2.0,NaN,4.0,5
2,2015,4,35,1,1,4.0,1.0,1.0,2.0,NaN,4.0,6
3,2015,2,34,2,1,NaN,1.0,3.0,NaN,NaN,4.0,7
4,2015,4,11,3,1,NaN,NaN,NaN,NaN,NaN,4.0,2

In [29]:
P = N[N['IDADE']>= 70]

P.SEXO = P.SEXO.astype('category')
P.SEXO.cat.categories = (['Masculino', 'Feminino'])

P.CONDICAO = P.CONDICAO.astype('category')
P.CONDICAO.cat.categories = (['Pessoa de referencia', 'Conjuge', 'Filho', 'Outro', 'Agregado', 'Pensionista', 'Empregado domestico', 'Parente do empregado domestico'])

P.ALFABETIZACAO = P.ALFABETIZACAO.astype('category')
P.ALFABETIZACAO.cat.categories = (['Sim', 'Nao'])

P.CARTEIRA = P.CARTEIRA.astype('category')
P.CARTEIRA.cat.categories = (['Sim', 'Nao'])

P.PAGAMENTO = P.PAGAMENTO.astype('category')
P.PAGAMENTO.cat.categories = (['Existia rendimento em dinheiro'])

P.ESTABELECIMENTO = P.ESTABELECIMENTO.astype('category')
P.ESTABELECIMENTO.cat.categories = (['Lojas, oficina, etc', 'fazenda, sitio etc', 'domicilio que trabalha',
                                     'domicilio de patrao etc', 'local designado pelo cliente etc', 'em veiculo motor', 'em via publica', 'outros' ])

P.T_PREVIDENCIA = P.T_PREVIDENCIA.astype('category')
P.T_PREVIDENCIA.cat.categories = (['Federal', 'Municipal', 'Estadual'])

P.TRABALHO = P.TRABALHO.astype('category')
P.TRABALHO.cat.categories = (['Empregado', 'Trabalhador domestico', 'Conta Propria', 'Empregador', 'Trabalhador nao remunerado na unidade domiciliar',
                             'outro trabalho nao remunerado', 'trabalhador no proprio negocio'])

P.RENDIMENTO = P.RENDIMENTO.astype('category')
P.RENDIMENTO.cat.categories = (['Sem rendimento', 'Ate 1/4 de salario', 'mais de 1/4 ate 1/2 de salario', 'mais de 1/2 ate 1 de salario',
                               'mais de 1 ate 2 de salario', 'mais de 2 ate 3 de salario', 'mais de 3 ate 5 de salario', 'mais de 5 de salario',
                                'sem declaracao'])

P.ESTUDO = P.ESTUDO.astype('category')
P.ESTUDO.cat.categories = (['Sem instrucao', 'Fund. Incomp ou equivalente', 'Fund. compl ou equivalente', 'Med Incomp ou equivalente',
                            'Med compl ou equilavente', 'Sup Incompl ou equivalente', 'Superior completo', 'nao determinado'])
P.head()

C:\Users\Mariana Abrantes\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,ESTADO,SEXO,IDADE,CONDICAO,ALFABETIZACAO,CARTEIRA,PAGAMENTO,ESTABELECIMENTO,T_PREVIDENCIA,TRABALHO,RENDIMENTO,ESTUDO
9,2015,Feminino,81,Outro,Sim,NaN,NaN,NaN,NaN,NaN,mais de 3 ate 5 de salario,Fund. Incomp ou equivalente
10,2015,Feminino,71,Pessoa de referencia,Sim,NaN,NaN,NaN,NaN,NaN,mais de 2 ate 3 de salario,Fund. Incomp ou equivalente
118,2015,Masculino,71,Pessoa de referencia,Nao,NaN,NaN,NaN,NaN,NaN,mais de 1/2 ate 1 de salario,Sem instrucao
131,2015,Masculino,73,Pessoa de referencia,Sim,NaN,NaN,NaN,NaN,NaN,mais de 1 ate 2 de salario,Fund. Incomp ou equivalente
132,2015,Feminino,71,Conjuge,Sim,NaN,NaN,NaN,NaN,NaN,mais de 1 ate 2 de salario,Fund. Incomp ou equivalente

___
## Análise e Resultados

In [ ]:
N.de

___
## Conclusão

Descreva aqui suas conclusões!